$backgroundHeader: #1D72C2;
$whiteColor: #FFFFFF;
$borderInput: #CCCCCC;
$blackColor: #000000;
$redColor: #DE0028;
$greenColor: #429C41;
$backgroundBody: rgba(0,0,0,0.80);
$backgroundAvatar: rgba(0,0,0,0.05);
$baseColor: #0683F9;
$disabled: #C6CACC;
$subtitlesColor: rgba(0,0,0,0.40);
$hoverSelected: rgba(6,131,249,0.20);